
@media  all and  (min-width:320px) and (max-width:767px) {
  .statename{
    background-color: #9e1551;
    background: #9e1551;
    color: #fff;
    width:120px;
    height:160px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 50px;
    text-align: center;
    padding-top: 10px;
  }
  .cl-w-1{
    background:#9e1551;
    color: #fff !important;
  }
  .searchbutton{
    border-radius: 29px 31px 32px 30px;
    width: 157px !important;
  }
  .search-button{
    border-radius: 29px 31px 32px 30px !important;
    width: 15px !important;
  }
  .search-f-button{
    margin-left: 285px;
    padding: 6px 5px 9px 0px;
    border-radius: 0px 0px 0px 0px;
    right: 49px;
    margin-top: 0px;
    top: 12px;
    position: relative;
  } 
  .topBarChildDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 0px !important;
    font-size: 9px !important;
  }
.fnt-9{
    font-size: 14px !important;
}
.fnt-2{
    font-size:5px !important;
}
.overflowXAuto{
  overflow-x: auto;
}
.topBarParentDiv{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 9px !important;
}

.topbarText {
  border-right: 1px solid rgb(221 221 221) !important;
  padding: 10px;
  height: 23px !important;
}
.hearder-d{
padding: 0px;
padding-top: 45px;
gap: 10;
display: flex;
}
.fnt-20{
  font-size: 20px;
}
.d-f-g-29{
  display: flex;
  gap: 29px;
  flex-direction: column !important;
  color: #fff !important;
}
.mg-r-45{
  margin-right: 45px;
  margin-top: 0px !important;
  padding: 4px 0px 0px 0px;
 }
 
.search-icon{
  position: absolute;
  right: 14px !important;
  padding: 11px 0px 0px 0px;
  color: #fff;
  background: #9e1551;
  margin-top: 2px;
  /* margin-bottom: 4px; */
  border-radius: 0px 14px 13px 2px;
  /* bottom: 8px; */
  width: 31px;
  text-align: center;
  height: 33px;
}
 
}

ul {
  list-style: none;
}
.topBarParentDiv{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topBarChildDiv{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.topbarText{
  border-right: 1px solid rgb(221 221 221) !important;
  padding: 10px;
  height: 40px;
}
.topbarText p{
  color: #9e1551;
}
.fa-brands{
  color: #9e1551;
}
.navbar-brand img{
  width: 190px;
}
.gap-5px{
  gap: 5px;
}

.gap-10px{
  gap: 28px;
}

.h-500{
  height: 500px;
}
.achranBorder{
border-top:  1px solid rgb(221 221 221);
border-bottom: 1px solid rgb(221 221 221);
}
.statename{
  background-color: #9e1551;
  background: #9e1551;
  color: #fff;
  width:120px;
  height:160px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 50px;
  text-align: center;
  padding-top: 10px;
}
.cl-w{
  color: #9e1551!important;
}
.d-f-g-29{
  display: flex;
  gap: 29px;
}
.b-1{
 border-block-end: 1px solid #f1f0f3;
 width: 74px;
 display: flex;
}
.mar-t14{
  margin-top: 14px;
}
.mg-r-45{
 margin-right: 45px;
 margin-top: 0px !important;
 padding: 4px 0px 0px 0px;
}
.searchbutton{
  border-radius: 29px 31px 32px 30px !important;
}
.search-f-button{
  position: absolute;
  right: 49px;
  margin-top: 0px;
  top: 12px;
}

.search-icon{
  position: absolute;
  right: 11px;
  padding: 11px 0px 0px 0px;
  color: #fff;
  background: #9e1551;
  margin-top: 2px;
  /* margin-bottom: 4px; */
  border-radius: 0px 14px 13px 2px;
  /* bottom: 8px; */
  width: 31px;
  text-align: center;
  height: 33px;
}
.achranBarText{
  color: #9e1551;
  font-weight: 500;
}
.lifeAndScience{
  display: flex;
  overflow: auto;
  gap: 35px;
  justify-content: center;
}
.lifeAndScienceButton{
  white-space: nowrap;
  background: #fff;
  border: 2px solid #221657;
  color: #221657;
  border-radius: 50px;
  font-size: 14px;
  padding: 10px;
}
.lifeAndScienceButton:hover{
  color: #fff;
  background: #221657;
}
.marqText{
  color: #9e1551;
  font-size: 40px;
}
.col_Img{
  max-width: 100%;

}
.card_div{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-top: 6px solid #9e1551;
}
.card_icon{
  font-size: 35px;
    position: relative;
    bottom: 32px;
    color: #9e1551;
}
.rajniti_h5{
  position: relative;
  bottom: 32px;
  font-weight: bold;
  font-size: 20px;
}
.rajniti_text{
  font-size: 25px;
}
.rajniti_spl{
  color: #9e1551;
}
